@use "../styles/main.scss" as *;

.gallery {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    h2 {
        margin-inline: 2em;
    }

    .images {
        width: 100vw;
        min-height: 85%;
        @include mobile {
            width: 100vw;
            height: 100%;
        }
        position: relative;
        overflow: hidden;
        box-shadow: $shadow-top-light;
    }

    .carousel {
        position: absolute;
        display: flex;
        height: 100%;
        width: fit-content;
        overflow: hidden;
    }

    .image {
        display: flex;
        width: 100vw;
        height: 100%;

        @include mobile {
            flex-direction: column;
        }
    }


    img {
        object-fit: cover;
        width: 50vw;
        height: 100%;

        @include mobile {
            width: 100vw;
            height: 50%;
        }
        z-index: -1;
    }

    .controls {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include mobile {
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr;
        }
        align-self: center;
        width: 100%;
        height: 100%;
        color: $color-background;
        box-shadow: $shadow-top-light;
        z-index: 1;
        
        svg {
            color: $color-background;
            height: 4em;
            width: auto;
            filter: drop-shadow($shadow-diagonal);
        }
    }

    .before, .after {
        justify-content: end;
        position: relative;
        height: 100%;

        button, h2 {
            position: absolute;
        }

        button {
            align-self: center;
            transition: transform 0.2s ease;

            &:hover {
                filter: brightness(150%);
            }

            @include mobile {
                display: none;
            }
        }

        h2 {
            align-self: end;
            text-shadow: $shadow-diagonal;
        }
    }

    .before button {
        left: 0;
        &:hover {
            transform: translateX(-4px) scale(1.2);
        }
    }

    .before h2 {
        @include mobile {
            align-self: baseline;
        }
    }

    .after button:hover {

        transform: translateX(4px) scale(1.2);
    }

    .button-controls {
        display: none;

        @include mobile {
            position: absolute;
            display: flex;
            width: 100vw;
            height: 100%;
            justify-content: space-between;
            z-index: 1;
            align-items: center;
        }
    }
}