@use '../styles/main.scss' as *;

.nav-bar {
    @include flex-between;
    position: fixed;
    background: $color-background;
    padding: 1em;
    width: 100%;
    gap: 0.25em;
    z-index: 10;
    box-shadow: $shadow-bottom-light
}

.nav-bar .brand {
    @include flex-center;
    gap: 1em;
    width: fit-content;

    img {
        height: 4rem;
        @include mobile {
            height: 3rem;
        }
    }

    h2 {
        line-height: 100%;
    }

    .break {
        display: none;
    }

    span.black-big {
        font-size: $font-size-2xl;
        @include mobile {
            font-size: $font-size-xl;
        }
    }
    
    span.grad-primary {
        font-size: $font-size-xl;
        @include mobile {
            font-size: $font-size-lg;
        }
        background: linear-gradient(90deg, $color-primary-light, $color-primary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    span.grad-secondary {
        font-size: $font-size-xl;
        @include mobile {
            font-size: $font-size-lg;
        }
        background: linear-gradient(90deg, $color-secondary-light, $color-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}

.nav-items {
    display: none;
    gap: 0.75em;

    &.desktop {
        @include desktop {
            @include flex-center;
        }
    }

    &.mobile {
        @include mobile {
            @include flex-center
        }
    }

    .link-services {
        @include flex-center;
        gap: 0.2em;
        flex-direction: column;
        position: relative;

        &:hover .dropdown {
            @include fade-in(0.4s);
        }

        h5 {
            width: min-content;
            text-align: center;
            @include mobile {
                font-size: $font-size-sm;
            }
        }
    }

    .dropdown {
        @include flex-center;
        background: $color-background;
        position: absolute;
        top: 100%;
        z-index: 2;
        flex-direction: column;
        gap: 0.75em;
        box-shadow: $shadow-bottom;
        color: $color-text;
        font-size: $font-size-sm;
        padding-block: 0.5em;
        width: max-content;

        hr {
            border: 1px solid $color-background-surface;
            border-radius: $border-radius-sm;
            width: 100%;
        }

        li {
            @include flex-center;
            flex-direction: column;
            gap: 0.2em;
            padding-inline: 3em;
            padding-block: 0.25em;
            // width: 30ch;
            text-align: center;

            h5 {
                width: 100%;
            }
        }

        li:hover {
            background: $color-background;
            filter: brightness(95%);
        }
    }
}

.nav-bar .primary-button h5 {
    @include mobile {
        font-size: $font-size-sm;
    }
}