@use "../styles/main.scss" as *;

.slideshow {
    height: 100%;
    width: 100%;
    position: relative;

    .page {
        transition: $transition-slow;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .page > * {
        width: 100%;
    }
}